
.product:hover{
    transform: scale(1.02);
}
.product{
    /* justify-content: space-around; */
    max-width:32rem;
    background-color: rgb(255, 255, 255);
    margin: 1rem 1rem; 
    padding: 1rem;
    display:flex;  
    flex-direction:column;
}
.product-info{
    min-width: 2rem;
    justify-content:start;
}
.product-price{
    display: flex;
    align-items: center;
}
.product-rating{
    margin:  .3rem 0 .3rem 0;
}
.product-img{
    /* min-width: 30rem; */
    overflow: hidden;
    max-height: 60%;
    flex: 1;
    align-items: center;
    justify-content:center;
    display: flex;
    cursor: pointer;
    /* border: 2px solid rgb(45, 11, 179); */
    
} 
.product-img img{
    max-height: 80%;
    margin: 1rem;
    width:50%;
}
.product-name{
    margin: 1rem 0 1rem 0;
    justify-content:start;
}
.product .btn{
    display: block; 
    margin: auto;
    justify-content:center;
    margin-bottom: 0;
}
.product button{
    height: 2.5rem;
    margin: auto;
    padding: 0 1em 1.5em 1em;
    cursor: pointer;
    font-size:medium;
    font-weight: 600;
    border-radius: .5rem;
    background-image: linear-gradient(rgb(248, 227, 133), rgb(184, 137, 9)) ;
}
